.App{
    display: flex;
}
.custom_toolbar{
    width:300px;
    height:100vh;
    background-color: #ecf9f9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.list{
   
    list-style-type: none;
    font-weight: bold;
    line-height: 30px;
}
hr{
    border: 1.5px solid black;
 
}

.login{
    display:flex;
    flex-direction: column;
    line-height: 30px;
    row-gap: 30px;
    width: 300px;
    align-items: center;
}

.signup{
    display:flex;
    flex-direction: column;
    line-height: 30px;
    row-gap: 30px;
    width: 300px;
    align-items: center;
}

.page{
    display:flex;
}
.sl{
    margin:60px auto
}
.addFile{
   width:22rem;
    /* border: 2px solid rgb(13, 85, 241); */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 5px;
    margin:100px;
    text-align: center;
    color: rgb(32, 101, 230);

}
.addFile:hover{
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.crdImg{
    margin:30px auto;
    width:60px;
    height: 60px;
}

.userPdfs{
height:150px;
width: 150px;

}
